body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-section{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 220px;
    padding: 90px 30px 0 0;
    box-sizing: border-box;
    text-align: left;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.nav-section h1{
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    width:220px ;
    height: 58px;
    font-size: 30px;
    color: #FFFFFF;
    margin-top:0;
    text-align: center;
    position: absolute;
    top:0;
    padding-top: 10px;
}
.nav-section img{
    width: 220px;
    left: 0;
    padding-left: 0;
    display:inline;
    box-sizing: border-box;
}
.nav-section ul{
    font-size: 15px;
    list-style: none;
    padding-left: 0;
}
.nav-section ul li{
    border-bottom: 2px solid #e0e0e0;
    width: 220px;
}
.nav-section a{
    text-decoration: none;
    color: #725C5C ;
    padding-left: 24px;
    display: block;
    height: 33px;
    padding-top:10px ;
    transition: border-left 0.3s linear;
}
.nav-section a:hover{
    border-left: rgba(237, 120, 57, 1) solid 5px;
    background: #FDF1EB;
}
.hero{
    background: #FDF1EB;
    width: 86.5%;
    height: 68px;
    margin-left: 197px;
    top: 0;
    position: absolute;
    color: #725C5C;
    font-size: 15.5px;
}
.hero ul{
    list-style: none;
    line-height: 0;
}
.hero select{
    background: transparent;
    width: 97px;
    height: 34px;
    border-color: #CCCCCC;
    border-radius: 3px;
    margin-left: 64%;
    margin-top: -4%;
    position: absolute;
}
.header-login{
    text-align: right;
    padding-top: 0;
    margin-top: 0;
    right: 100px;
    top: 0;
    position: absolute;

}
.header-login img{
    width: 48px;
    position:absolute;
    border-radius: 50%;
    top:12px;
}
.main-content{
    width: 65%;
    margin-left:175px;
    padding: 72px ;
    box-sizing: border-box;
}

.section-first{
    width:99.5%;
}
.sub-header ul{
    list-style: none;
    text-align: right;
    position: absolute;
    right: 70px;
    top: 90px;
}
.sub-header ul li{
    display: inline-block;
    background: #ED7839;
    padding: 5px 10px;
    border-radius: 4px;
}
.sub-header a{
    text-decoration: none;
    color: white;
}
.sub-header img{
    width:19px;
    display: inline-block;
    padding-right: 5px;
}
.sub-header p{
    color:#ED7839;
    font-size: 14.8px;
    position: absolute;
    right: 70px;
    top: 140px;

}
.sub-header h3{
    font-size: 24px;
    color:#ED7839;
}
.video-div{
    width:86.5%;;
}
.right-div{
    background: white;
    position: absolute;
    width: 242px;
    height: 510px;
    top: 190px;
    right: 50px;
    font-size: 15.3px;
    border: 2px solid #ECECEC;
    border-radius: 3px 3px 0px 0px;
}
.right-div ul, .right-div ol{
    list-style: none;
    text-align: left;
    padding-left: 20px;
}
.ol-right-div{
    font-size: 13.5px;
    padding-top: 20px;
    color: rgb(180, 180, 180);
}
.right-div h2{
    text-align: left;
    margin-top: 0px;
    padding-top: 10px;
    width:227px;
    height: 40px;
    padding-left: 15px;
    background:#FDF1EB;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 2px solid #ECECEC;
}


.article-seemore{
    margin-top: 40px;
    height: 206px;
    width: 1210px;
    overflow: hidden;
    border-radius: 3px;
    border: #ECECEC 2px solid;
    transition: height 0.2s linear;
}
.article-seemore h2{
    background: #FDF1EB;
    margin-top: 0;
    padding-top: 20px;
    border-bottom: 2px solid #ECECEC;
}
.article-seemore a{
    color: #ED7839;
    text-decoration: none;
    height: 380px;
    transition: height 1s linear;
}
.article-seemore:hover{
    height: 390px;
}
.footer-copy img{
    width: 84%;
    padding-left: 16%;
}
.hidden-2, .hidden-3, .hidden-3-1{
    display: none;
}
.section-third{
    margin-top: 40px;
    height:921px;
    width: 1210px;
    border-radius: 3px;
    border: #ECECEC 2px solid;
    transition: height 0.2s linear;
}
.section-third h2{
    background: #FDF1EB;
    margin-top: 0;
    padding-top: 20px;
    border-bottom: 2px solid #ECECEC;
}

/*asdasd*/

.hidden-comment{
    display: none;
}
.hidden-1{
    text-align: center;
}
.hidden-1 h3{
    color: #ED7839;
}
.hidden-1 img{
    width: 70px;
}
.hidden-1 ul{
    list-style: none;
    padding: 20px;
}
.hidden-1 ul li{
    display: inline;
    padding: 0 60px 0 20px;
}
.hidden-1 p{
    font-size: 15px;
    padding: 0 250px;
}
.hidden-1 button{
    background: linear-gradient(rgba(254, 178, 84, 1), rgba(240, 129, 61, 1));
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    width: 133px;
    height: 32px;
    color: white;
    font-size: 17px;

}
.hidden-1 button img{
    width: 20px;
}

hr{
    background: #e7e7e7;
    border: 1px solid #E7E7E7;
    width: 1160px;    
}
.comment-div{
    width: 1160px;
    height: 165px;
    background: white;
    margin: 25px;
    padding-top: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.ul-comment-text{
    list-style: none;
    line-height: 2px;
}
.ul-comment-text h3{
    color: #ED7839;
    letter-spacing: 0.5px;
}
.ul-comment-text h4{
    color: #5C5C5C;
}
.ul-comment-text p{

    line-height: normal;
    color: #4D4D4D;
}
.ul-comment-icon{
    list-style: none;
    position: absolute;
}
.ul-comment-icon li{
    display: inline-block;
    margin: 0 10px 0 0;
    position: relative;
    bottom: 20px;
    color: #757575;
}
.ul-comment-icon li:nth-child(1){
    position: relative;
    bottom: 26.3px;
}
.ul-comment-icon li p{
    position: relative;
    bottom: 13px;
}


    