body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-section{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 14.5%;
    padding: 90px 30px 0 0;
    box-sizing: border-box;
    text-align: left;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.nav-section h1{
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    width: 100%;
    min-height: 58px;
    height: auto;
    font-size: 30px;
    color: #FFFFFF;
    margin-top:0;
    text-align: center;
    position: absolute;
    top:0;
    padding-top: 10px;
}
.nav-section img{
    max-width: 114.5%;
    width: auto;
    left: 0;
    padding-left: 0;
    display:inline;
    box-sizing: border-box;
}
.nav-section ul{
    font-size: 15px;
    list-style: none;
    padding-left: 0;
}
.nav-section ul li{
    border-bottom: 2px solid #e0e0e0;
    width: 116%;
}
.nav-section a{
    text-decoration: none;
    color: #725C5C ;
    padding-left: 24px;
    display: block;
    height: 33px;
    padding-top:10px ;
    transition: border-left 0.3s linear;
}
.nav-section a:hover{
    border-left: rgba(237, 120, 57, 1) solid 5px;
    background: #FDF1EB;
}

.hero{
    background: #FDF1EB;
    width: 99.385%;
    min-height: 68px;
    height: auto;
    top: 0;
    position: absolute;
    color: #725C5C;
    font-size: 15.5px;
}
.hero-ul {
    list-style: none;
    line-height: 0;
    padding-left: 16%;
    padding-right: 30%;

}

.hero-ul-login{
    list-style: none;
    line-height: 0;

}

.hero select{
    background-image: url(../Images/Icones/Linguagem.png);
    background-size:30px ;
    background-repeat: no-repeat;
    background-color: rgba(253, 241, 235, 0);
    padding-left: 27px;
    width: 97px;
    height: 34px;
    border-color: #CCCCCC;
    border-radius: 3px;
    margin-left: 70%;
    margin-top: 1%;
    position: absolute;
}
.header-login{
    text-align: right;
    padding-top: 0;
    margin-top: 0;
    right: 100px;
    top: 0;
    position: absolute;
}
.header-login img{
    width: 48px;
    position:absolute;
    border-radius: 50%;
    top:12px;
}
.main-content{
    width: 85.5%;
    margin-left: 14.5%;
    padding: 72px 32px ;
    box-sizing: border-box;
}
.main-content-section-first{
    padding: relative;
}
.sub-header{
    padding-right:400px;
}
.sub-header ul{
    list-style: none;
    text-align: right;
    position: absolute;
    right: 50px;
    top: 90px;
}
.sub-header ul li{
    display: inline-block;
    background: #ED7839;
    padding: 5px 10px;
    border-radius: 4px;
}
.sub-header a{
    text-decoration: none;
    color: white;
}
.sub-header img{
    width:19px;
    display: inline-block;
    padding-right: 5px;
}
.sub-header p{
    color:#ED7839;
    font-size: 14.8px;
    position: absolute;
    right: 70px;
    top: 140px;

}
.sub-header h3{
    font-size: 24px;
    color:#ED7839;
}
.layout-video{
    position: relative;
}
.front-video-title{
    position: absolute;
    padding-right: 40%;
    padding-left: 2%;
    color: white;
    top: 0;
    z-index: 10;
}
.front-video-profile{
    
    padding-right: 60%;
    padding-left: 2%;
    position: absolute;
    z-index: 10;
}
.front-video-profile img{
    position: absolute;
    margin-top: 38% ;
    border: 1px solid orange;
    border-radius: 100%;
}
.front-video-profile ul{
    list-style: none;
    position: absolute;
    margin-top: 40%;
    left: 150px;
    color: white;
    line-height: 10px;

}
.front-video-profile h1{
    font-size: 35px;
}

.video-div{
    width: auto;
    height:auto;
}
.video-div-img{
    width:79%;
}


.video-div a:after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 79%;
    height: 99%;
    background: rgba(141, 53, 6, 0.5);
}
.right-div{
    background: white;
    float: right;
    width: 20%;
    max-height: 540px;
    height: auto;
    top: 190px;
    right: 50px;
    font-size: 15.3px;
    border: 2px solid #ECECEC;
    border-radius: 3px 3px 0px 0px;
    overflow: hidden;

}
.right-div ul, .right-div ol{
    list-style: none;
    text-align: left;
    padding-left: 11px;
}
.ol-right-div{
    font-size: 13.5px;
    padding-top: 20px;
    color: rgb(180, 180, 180);
}
.right-div h2{
    text-align: left;
    margin-top: 0px;
    padding-top: 10px;
    width:95%;
    max-height: 40px;
    height: auto;
    padding-left: 5%;
    background:#FDF1EB;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 2px solid #ECECEC;
}


.article-seemore{
    margin-top: 40px;
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
    border: #ECECEC 2px solid;
    transition: height 0.2s linear;
}
.article-seemore h2{
    background: #FDF1EB;
    margin-top: 0;
    padding-top: 20px;
    border-bottom: 2px solid #ECECEC;
}
.article-seemore a{
    color: #ED7839;
    text-decoration: none;
    height: 380px;
    transition: height 1s linear;
}
#mais{
    display: none;
}
.hidden-2,.hidden-3,.hidden-3-1{
    display: none;
}
.section-third{
    margin-top: 40px;
    min-height:921px;
    height: auto;
    width: 100%;
    border-radius: 3px;
    border: #ECECEC 2px solid;
}
.section-third h2{
    background: #FDF1EB;
    margin-top:0;
    padding-top: 20px;
    border-bottom: 2px solid #ECECEC;

}

/*---Discussão-1---*/

.hidden-1{
    text-align: center;
}
.hidden-1 h3{
    color: #ED7839;
}
.hidden-1 img{
    width: 70px;
}
.hidden-1 ul{
    list-style: none;
    padding: 20px;
}
.hidden-1 ul li{
    display: inline;
    padding: 0 60px 0 20px;
}
.hidden-1 p{
    font-size: 15px;
    padding: 0 250px;
}
.hidden-1 button{
    background: linear-gradient(rgba(254, 178, 84, 1), rgba(240, 129, 61, 1));
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    width: 133px;
    height: 32px;
    color: white;
    font-size: 17px;

}
.hidden-1 button img{
    width: 20px;
}

/*Discussão-2*/

.hidden-2{
    padding:0 20px;
    width: 95.5%;
}
.hidden-2 p{
    text-align: center;
}
.hidden-2 h3{
    color: #ED7839;
    display: block;
    
}
.hidden-2 input[type="text"]{
    width: 100%;
    height: 40px;
    border: 1px solid #CCCCCC;
}
.hidden-2 ul{
    list-style: none;
    border: 1px solid #CCCCCC;
    background: #EAF1F2;
    position: relative;
    max-width: 100%;
    width: auto;
    height: 40px;
    bottom: 20px;
}
.hidden-2 textarea{
    list-style: none;
    border: 1px solid #CCCCCC;
    background: #FFFFFF;
    width: 100%;
    height: 100px;
    position: relative;
}
.textarea-format{
    width: 100%;

}
.textarea-format textarea{
    width: 100%;
    height: 100px;
    resize: none;
    position: relative;
    border: 1px solid #CCCCCC;
}
.textarea-format ul li{
    display: inline;
    padding-right: 20px;
}
.textarea-format img{
    padding-top: 15px;
    padding-right: 20px;
}
.textarea-format button{
    position: absolute;
    padding: 9px 100px;
    right: 0;
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    border-radius: 0px 0px 4px 0px;
    border: transparent;
    color: white;
    font-size: 20px;

}

/*Discussão-3*/

.hidden-3{
    text-align: center;
}
.hidden-3 h3{
    color: #ED7839;
}
.hidden-3 p{
    color: #595959;
}
.hidden-3 a{
    color: #F48F44;
}
.hidden-3 button{
    background: linear-gradient(rgba(254, 178, 84, 1), rgba(240, 129, 61, 1));
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    width: 250px;
    height: 32px;
    color: white;
    font-size: 17px;
}
.hidden-3-1{
    position: relative;
}
.dis-comment-div{
    width: 95%;
    height: 165px;
    background: white;
    margin: 2.5%;
    padding-top: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    position: relative;
}
.dis-comment-div ::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(245, 245, 245, .25);
}

.front-comment-div{
    text-align: center;
    position: absolute;
    top: 20px;
    left: 30%;
    right: 30%;
    z-index: 10;
}
.front-comment-div a{
    color: #ED7839;
}

hr{
    background: #e7e7e7;
    border: 1px solid #E7E7E7;
    width: 95%;    
}
.comment-div{
    width: 95%;
    min-height: 165px;
    height: auto;
    background: white;
    border: 1px solid #E7E7E7;
    margin: 2.5%;
    padding-bottom:10px;
    padding-top: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.ul-comment-text{
    list-style: none;
    line-height: 2px;
}
.ul-comment-text h3{
    color: #ED7839;
    letter-spacing: 0.5px;
}
.ul-comment-text h4{
    color: #5C5C5C;
}
.ul-comment-text p{

    line-height: normal;
    color: #4D4D4D;
}
.ul-comment-icon{
    list-style: none;
    position: absolute;
}
.ul-comment-icon li{
    display: inline-block;
    margin: 0 10px 0 0;
    position: relative;
    bottom: 20px;
    color: #757575;
}
.ul-comment-icon li:nth-child(1){
    position: relative;
    bottom: 26.3px;
}
.ul-comment-icon li p{
    position: relative;
    bottom: 13px;
}
.hidden-comment{
    background: #F8F8F8;
    width: 100%;
    height: 130px;
    border: 1px solid #E7E7E7;
    padding-top: 10px;
    position: relative;
    top: 40px;
}
.comment-div div:nth-child(3){
    background: white;
}
.comment-div div:nth-child(4){
    height: 190px;
}
.comment-div div:nth-child(5){
    margin-bottom: 30px;
    
}